.Organization {
    display: flex;
    align-items: center;

    width: 407px;
    height: 100%;
}

.Organization_tittle {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
    /* identical to box height, or 120% */

    text-align: center;
    letter-spacing: 0.5px;

    color: #14C38E;
    height: 25%;

}

.Organization_logo {
    background-color: #14C38E;
}

.Organization_information {
    color: #14C38E;
    text-align: center;
    font-size: 14px;
    height: 75%;
}

.Organization_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Organization_button{
    background-color: #00FFAB;
    color: #1A6A52;
    font-size: 15px;
    margin: 0;
    padding: 5px 25px;
}

.Organization_button_container {
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;

}