.Search_button {
    background-color: #00FFAB;
    color: #1A6A52;
    font-size: 15px;
    margin: 0;
    padding: 3px 20px;
}

.Text_Search {
    background-color: #F2F0EB;
}

.Dropdown_Search {
    background-color: #F2F0EB;
}

.Text_Search:focus {
    outline: none;
}

.Dropdown_Search:focus {
    outline: none;
}

::-webkit-search-cancel-button {
    -webkit-appearance: none;
}